<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Display {% endblock %}</title>
    </head>
    <body>
        <div id="app"> </div>
    </body>
</html>
{% block javascripts %}
    {% if app.environment == 'dev' %}
        <script src="{{ asset('dist/bundle.js') }}"></script>
    {% endif %}
{% endblock %}