/* Global app */
#app{
    width:98%;
    padding:0 1%;
}

/* Navbar */
#navbar nav {
    border-radius:0;
}

/* Dashboard */
.dashboard{
    width:100%;
}
.dashboard .panel{
    float:left;
    min-height:200px;
}
.dashboard .real_time{
    position:relative;
    width:45%;
}
h2{
    padding-top:0!important;
    margin-top:0!important;
    font-size:19px!important;
}
.real_time .real_time_releve {
    width:15%;
    border:1px silver solid;
    margin:0 5% 25px 0;
    padding:5px;
    font-weight:bold;
    font-size:24px;
    display:inline-block;
    text-align:center;
}
.real_time .real_time_releve.large{
    width:20%;
}
.real_time .real_time_releve:hover {
    background-color:#CCC;
}

.real_time .real_time_releve .real_time_name{
    font-size:11px;
    clear:both;
}
.real_time .real_time_releve .largeFont{
    font-size:13px;
    clear:both;
}
.real_time .real_time_releve hr{
    width:50%;
    margin: 5px auto 0;
    color:#000;
    border-color:#000;
}
.real_time .real_time_releve .rubrique_text{
    font-size:12px;
}
.real_time .real_time_releve .rubrique_text.title_bloc{
    color:#2f8bb3;
    font-size:14px;
    font-weight:bold;
}


.real_time .last_update{
    position:absolute;
    bottom:0;
    right:0;
    padding:5px;
    color:#75787a;
    font-style: italic;
    font-size:12px;
    font-weight:bold;
}
.dashboard .list {
    width:50%;
    margin-left:5%;
}
.dashboard .list table td, .dashboard .list table th{
    text-align:center;
}